<div class="header">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/rules" routerLinkActive="active">Rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/price-details" routerLinkActive="active">Price Details </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/add-book" routerLinkActive="active">Add Book</a>
        </li>
    </ul>
</div>