<div  id="foot">
    <div class="card-body">
        <div class="footer">
            <ul>
                <h4>
                    <li>Links</li>
                </h4>
                <li>Home</li>
                <li>about</li>
                <li>price card</li>
                <li>add book</li>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <h4>
                    <li>Themes</li>
                </h4>
                <li>Guides</li>
                <li>Webpack</li>
                <li>Getting started</li>
                <li>Starter template</li>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <h4>
                    <li>Languages</li>
                </h4>
                <li>Tamil</li>
                <li>English</li>
                <li>German</li>
                <li>Korean</li>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <h4>
                    <li>Issues</li>
                </h4>
                <li> Discussions</li>
                <li> Corporate sponsors</li>
                <li> Open Collective</li>
                <li>Stack Overflow</li>
            </ul>


        </div>
        <ul style="width: 100%;" id="icon">
            <li> <i class="fa-brands fa-facebook fa-2x"></i></li>
            <li><i class="fa-brands fa-twitter fa-2x"></i></li>
            <li><i class="fa-brands fa-linkedin fa-2x"></i></li>
            <li><i class="fa-brands fa-google fa-2x"></i></li>
        </ul>
        <p class="footer-para" style="text-align: center;">E-Library
            Designed and built with all the love in the world by the E-Library team with the help of our
            contributors.
            Code licensed MIT, docs CC BY 3.0.
            Currently v0.1.2.
        </p>
    </div>
  
    <div class="card-footer text-muted" style="font-size: 13px;text-align: center;">
        <span>@2021-2022<a href="#">E-librarysystems</a>.All rights reserved<a href="#"> Cookie policy</a>,
            <a href="#">Privacy</a> and <a href="#">Terms</a></span>

    </div>

</div>