.login {
    border: 1px solid #e3e3e3;
    width: 40%;
    margin: auto;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: Source Sans Pro;
    height: 100%;
    left: 0;
    padding: 48px;
    position: relative;
    text-align: left;
    margin-top: 40px;

}

.login-input {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 0;
    padding: 5px;
}

.login-btn {
    width: 100%;
    background-color: #04aa6d;
    color: #fff;
    border: 1px solid #04aa6d;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: Source Sans Pro, sans-serif;

}

.login-btn:hover {
    background-color: rgba(4, 105, 4, 0.795);
    ;
}

.login-forgot {
    text-align: center;
    margin-top: 18px;
}

.login-a-forgot {
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: #282a35;
    font-family: Source Sans Pro;

}

.login-a-forgot:hover {
    color: #04aa6d;
}

.login-label {
    font-size: 14px;
    font-family: Source Sans Pro;
    font-weight: 500;
}

.login-label-right {
    float: right;
    font-size: 14px;
    font-family: Source Sans Pro;
}

.login-label-a {
    text-decoration: none;
    color: #04aa6d;
}

.login-footer {
    color: rgba(40, 42, 53, .65);
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding: 20px;
}

.login-footer a {
    color: rgba(40, 42, 53, .65);
}

.login-footer a:hover {
    color: #04aa6d;
}

.login-err {
    color: red;
    font-size: 12px;
}
