.signup {

    border: 1px solid #e3e3e3;
    width: 40%;
    margin: auto;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: Source Sans Pro;
    height: 100%;
    left: 0;
    padding: 48px;
    position: relative;
    text-align: left;
    margin-top: 40px;
}

.signup input {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 0;
    padding: 5px;
}

.signup button {
    width: 100%;
    background-color: #04aa6d;
    color: #fff;
    border: 1px solid #04aa6d;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: Source Sans Pro, sans-serif;
    margin-top: 15px;
}

.signupUser {
    display: flex;
}
.signFirstName, .signLastName {
    flex-basis: 100%;
   
}
.signup-Login {
    font-size: 14px;
    text-align: center !important;
    margin-top: 15px;
}

.signup-Login a {
    text-decoration: none;
    color: #04aa6d;
}

.signup-footer {
    color: rgba(40, 42, 53, .65);
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding: 20px;
}

.signup-footer a {
    color: rgba(40, 42, 53, .65);
}

.signup-footer a:hover {
    color: #04aa6d;
}