<div class="forgot-pass">
    <form [formGroup]="forgotPassForm" novalidate>
        <div>
            <h2>Reset your password</h2>
        </div>
        <div>
            <label class="forgot-passSpan">We'll email you instructions to reset the password.</label>
        </div>
        <div>
            <label for="email">Email</label>
        </div>
        <div>
            <input type="email" name="email" id="forgot-passMail" class="forgot-passMail">
        </div>
        <div>
            <button type="submit" class="forgot-passBtn">Reset password</button>
        </div>
        <div class="forgot-passSpan1">
            <span>Return to <a routerLink="/login">login</a></span>
        </div>
    </form>

</div>
<div class="forgot-footer">
    <span>@2021-2022<a href="#">E-librarysystems</a>.All rights reserved<a href="#"> Cookie policy</a>,
        <a href="#">Privacy</a> and <a href="#">Terms</a></span>
</div>