/* You can add global styles to this file, and also import other style files */
.active{
    background-color: green;
    color: white;
    box-sizing: border-box;
}
.footer{
    float: left;
    margin: 20px;
}

.footer li{
    list-style-type: none;
    text-align: left;
}
#foot{
    background-color: #969292;
    color:white;
    
}
li{
    list-style-type: none;
    font-size: 14px;
}
#icon li{
    float: right;
    padding: 10px;
    margin-top: 20px;
}
.footer-para {
    clear: both;
    font-size: 13px;
}
#foot a {
    color: whitesmoke;
    font-size: 13px;
    cursor: pointer;
}